<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :diet, 'Étrendi preferenciák', class: 'col-form-label' %>
  </div>
  <div class="col-md-9">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-control' %>
    <small class="form-text text-muted">Például vegán, vegetáriánus, gluténmentes, bármilyen allergia vagy intolerancia.</small>
  </div>
</div>
