<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Köszönjük!</h2>
      <p>Küldtünk egy emailt a következő címre: <tt><%= @guest.email %></tt>.</p>
      <p>Ha nem érkezett meg, kérlek ellenőrizd a SPAM mappát, és ha ott sem találod akkor <%= mail_to ENV['CONTACT_EMAIL'], 'Írj nekünk' %>.</p>
      <p>Ez a levél tartalmaz egy linket, ahol frissíteni tudod a résztvevőket, étel preferenciát vagy épp zenei kérésedet.</p>
      <p><%= link_to 'Vissza a főoldalra', root_path %></p>
    </div>
  </div>
</div>
