<p><%= @guest.email_safe_salutation %></p>

<p>Nem rég regisztráltál az oldalunkra <%= ENV['CANONICAL_HOST'] %>.</p>

<p>Ha megszeretnéd tekinteni a visszajelzésed, vagy módosítani a következő linken keresztül elérheted ezeket az opciókat:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p>Ha bármi kérdésed lenne, írj választ erre az emailre, vagy keress minket telefonon: +36701117772.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
