<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>TERV</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Program</h2>
        <p><strong>14:00</strong> &mdash; Vendégek érkezése Nyíregyházára</p>
        <p><strong>14:30</strong> &mdash; Egyházi szertartás</p>
        <p><strong>15:30</strong> &mdash; Fotózkodás</p>
        <p><strong>16:30</strong> &mdash; Érkezés a Le Til Kúriába</p>
        <p><strong>17:00</strong> &mdash; Szobák elfoglalása</p>
        <p><strong>17:30</strong> &mdash; Polgári szertartás</p>
        <p><strong>18:30</strong> &mdash; Fotózkodás</p>
        <p><strong>19:00</strong> &mdash; Vacsora kezdete</p>
        <p><strong>22:00</strong> &mdash; Torta</p>
        <p><strong>23:00</strong> &mdash; Nyitó tánc</p>
        <p>A party kifulladásig tart</p>
        <p><strong>Dress code</strong> Kényelmes, elegáns.</p>
        <h2>Ajándékok</h2>
        <p>Az első közös lakásunkra gyűjtünk, így az anyagi természetű ajándékoknak nagyon örülünk</p>
        <h2>Menü</h2>
        <p><strong>Vendégváró</strong> &mdash; Pogácsa, édes sütemények<sup>*</sup></p>
        <p><strong>Leves</strong> &mdash; Újházi tyúkhúsleves</p>
        <p><strong>Főétel</strong> &mdash; Szabadon választható svédasztalos menü <sup></sup></p>
        <ul class="list-unstyled">
          <li><small><sup>*</sup> Glutén mentes &amp; vegán ételek</small></li>
          <li><small> Fish & Chips</small></li>
          <li><small> Parajos és aszalt paradicsomos tagliatelle</small></li>
          <li><small><sup></sup> Mangalica karaj, lecsóval</small></li>
        </ul>
        <p>A visszajelzés gombnál, a vendégek választhatnak, ételpreferenciájuk szerint, és tájékozódhatnak az ételek összetevőiről</p>
        <h2>VISSZAIGAZOLÁS</h2>
        <p>Kérjük igazold vissza, amint lehetséges, hogy tudjuk pontosan ki fog jönni. Ha mégsem tudsz jönni, kérjük jelezd azt is minél hamarabb. Köszönjük szépen!</p>
      </div>
    </div>
  </div>
</section>
