<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Helyszín</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>HOGY JUTOK ODA?</h2>
        <p>Buszos transzfert biztosítunk a Nyíregyházi Templomtól a szertartás végén</p>
        <p>Amennyiben gépjárművel érkeznél, szabad parkolók biztosítva lesznek</p>
        <h2>BUDAPESTRŐL?</h2>
        <p>Az M3-as autópályán, Nyíregyháza felé ahol a biztosított parkolóban hagyhatod gépjárműved.</p>
      </div>
    </div>
  </div>
</section>
